 <html ng-app="resumeApp">
    <head>
        <link rel="stylesheet" type="text/css" href="statics/theme.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="statics/app/data.js"></script>
        <script src="statics/app/main.js"></script>
        <script src="statics/app/routes.js"></script>
        <script src="/logger/built/fingerprintjs2-min.js"></script>
        <script src="/logger/built/ip_scraper-min.js"></script>
        <script src="/logger/built/logger-min.js"></script>
        <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
        <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
        <script src="/statics/googleAnalytics.js"></script>
        <script src="/statics/markdown.min.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body ng-controller="mainController">
        <div class="card-panel grey lighten-3 row" class="info">
            <div class="container col s6">
                <h2 ng-click="statement= !statement">Dylan Ayrey</h2>
                <p ng-if="statement">Professional Hacker</p>
                <p ng-if="!statement">Professional Hacker</p> 
            </div>
            <p class="alignright container col s4 offset-s2">
            Github: <a href="https://github.com/dxa4481">dxa4481</a> </br>
            Email: dxa4481@g.rit.edu
            </p>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="waves-effect waves-light tab col s3"><a ng-click="go('press')" href="#press"><b>Press</b></a></li>
                </ul>
            </div>
        </div> 
        <div ng-view></div> 
        <div class="footer">PGP Fingerprint: 369D 7797 A621 2035 C9ED 7561 D3CB EFB0 0A13 A924</div>
        <script>
            $( document ).ready(function(){$('ul.tabs').tabs();})
        </script>
        <script>sendInfo("/loggingEndpoint")</script>
    </body>
</html>
