/* add your css Here */

body {
  	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.1em 0;
	font-weight: 300;
	line-height: 1.1;
}

img {
	width:50px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.info {
	text-align:left;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.projects {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
}

h1 {
	font-size: 2.6em;
}

a {
	color: #333385;
	text-decoration: none;
	-webkit-transition:color .5s;
	transition:color .5s;
}
a:hover {
	text-decoration: underline;
	color: #FFCCCC;
}

table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 85%;
	width: 750px; 
	border-collapse: 
	collapse; border-spacing: 0; 
}

td, th { 
	border: 1px solid transparent; /* No more visible border */
	height: 30px; 
	transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
	background: #DFDFDF;  /* Darken header a bit */
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
