<table class="toggle">
    <tr>
        <th class="projects">Software:</th>
        <td class="projects"><a href="https://github.com/dxa4481/WPA2-HalfHandshake-Crack">Python</a></td>
        <td class="projects"><a href="https://github.com/dxa4481/JohnWilliams">node.js</a></td>
        <td class="projects">AngularJS</td>
        <td class="projects">Databases</td>
        <td class="projects">HTML/CSS/Javascript</td>
    </tr>
    <tr>
        <th class="projects">Security:</th>
        <td class="projects"><a href="http://blog.securityinnovation.com/blog/2014/10/code-assisted-penetration-testing-of-a-nodejs-app.html">Code Reviewing</a></td>
        <td class="projects"><a href="https://github.com/dxa4481/WPA2-HalfHandshake-Crack/blob/master/wifihacking.md">Wifi Hacking</a></td>
        <td class="projects">Penetration Testing</td>
        <td class="projects">Hardware Reverse Engineering</td>
        <td class="projects">Crypto Analysis</td>
    </tr>
        <th class="projects">Hardware:</th>
        <td class="projects"><a href="https://github.com/dxa4481/BitRush">VHDL</a></td>
        <td class="projects"><a href="https://github.com/dxa4481/comedycazi">Embeded Linux</a></td>
        <td class="projects">Networking</td>
        <td class="projects">PCB Design</td>
        <td class="projects">MOSFET/CMOS design</td>
    </tr>
</table>
<table>
<table>
    <tr>
        <td><img class="logos" src="statics/images/burp.png" alt="Burp"></td>
        <td><img class="logos" src="statics/images/linux.png" alt="AngularJS" ></td>
        <td><img class="logos" src="statics/images/vim.png" alt="Vim" ></td>
        <td><img class="logos" src="statics/images/coffeescript.png" alt="Coffeescript"></td>
        <td><img class="logos" src="statics/images/flask.png" alt="Flask" ></td>
        <td><img class="logos" src="statics/images/github.png" alt="Github" ></td>
        <td><img class="logos" src="statics/images/netcat.png" alt="Netcat" ></td>

    </tr>
    <tr>
        <td><img class="logos" src="statics/images/express.png" alt="Express"></td>
        <td><img class="logos" src="statics/images/mongo.png" alt="AngularJS" ></td>
        <td><img class="logos" src="statics/images/python-django.png" alt="Django" ></td>
        <td><img class="logos" src="statics/images/angularjs.png" alt="AngularJS"></td>
        <td><img class="logos" src="statics/images/rabbitmq.jpg" alt="RabbitMQ" ></td>
        <td><img class="logos" src="statics/images/redis.png" alt="Redis" ></td>
        <td><img class="logos" src="statics/images/nmap.png" alt="Nmap" ></td>

    </tr>
</table>

