/* add your css Here */

body {
  	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.1em 0;
	font-weight: 300;
	line-height: 1.1;
	font-size: 95%;
	width: 60%;
	font-weight: bold;
}

img {
        max-width: 100%;
}
.pointy {
        cursor: pointer;
}

.padding {
    margin: 40px;  
}

.markdown {
        float: right;
        width: 38%;
}

.toggle{
        -webkit-transition: linear 0.3s;
        -moz-transition: linear 0.3s;
        -ms-transition: linear 0.3s;
        -o-transition: linear 0.3s;
        transition: linear 0.3s;
}
.toggle.ng-enter{
        opacity: 0;
}
.toggle.ng-enter-active{
        opacity: 1;
}
.toggle.ng-leave{
        opacity: 1;
}
.toggle.ng-leave-active{
        opacity: 0;
}

.logos {
	width:50px;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
}

.info {
	text-align:left;
}

.alignleft {
	float: left;
}
.alignright {
    text-align: right;
}
.projects {
	text-align: left;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
}

h1 {
	font-size: 2.6em;
}

a {
	color: #333385;
	text-decoration: none;
	-webkit-transition:color .5s;
	transition:color .5s;
}
a:hover {
	text-decoration: underline;
	color: #FFCCCC;
}

table {
	margin-top=10px;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 77%;
        table-layout:fixed;
	width: 60%; 
	border-collapse: 
	collapse; border-spacing: 0; 
}

td, th { 
	padding: 5px;
	border: 1px solid transparent; /* No more visible border */
	height: 30px; 
	transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
	background: #DFDFDF;  /* Darken header a bit */
	font-weight: bold;
}

td {
        word-wrap:break-word;
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
